@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    @apply text-[#697FE2];
}

h1 {
    @apply font-extrabold;
}

h2 {
    @apply font-bold;
}

p, span {
    @apply text-[#676767] text-base;
}

header {
    @apply bg-mobile bg-cover md:bg-mobile md:bg-auto md:h-[90vh] lg:bg-desktop lg:bg-cover lg:bg-right bg-no-repeat;
    min-height: 100dvh;
    height: 100vh;

    
}

.logo {
    @apply absolute top-32 lg:top-8 lg:left-28
}

@media (max-height: 670px) {
    .header {
        min-height: 100dvh;
    }
    .background-header {
        @apply bg-top
    }
    .logo {
        @apply top-[4.5rem]
    }
    #score-container {
        @apply h-screen
    }
    #overall-container {
        @apply h-[40vh]
    }
    #container-scores-overall{
        @apply h-[140vh]
    }
}

input:focus {
    @apply outline-none border-2 border-[#FA9746]
}

.learn {
    @apply bg-[#8C9EF4] rounded-full px-4 py-2 m-2 font-medium text-white
}


.fixed-circle {
    position: relative;
    z-index: 11;
}

.radar-circle {
    /* applica una transizione di fade-in/fade-out al cerchio del radar */
    opacity: 0.5;
    animation: fade-in-out 2s ease-in-out infinite alternate;
}

@keyframes fade-in-out {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.1;
    }
}



@media(min-width: 1024px) {

    .category-label-text,
    .final-score {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .map-content {
        padding: 5px;
    }
}